@{
    ViewBag.Title = "Домашняя страница";
}

<h2>@ViewBag.Message</h2>
<p>
    Добро пожаловать!
    Здесь вы можете быстро и без особых усилий создать турнир.
    Оперативный расчет рейтинга спортсменов необходимый для
    определения места спортсмена в турнирных сетках следующих
    соревнований является актуальным для всех видов спорта, а особенно там
    где соревнования проводятся по олимпийской системе. Актуальным
    моментом является организация и планирование соревнований, обучение
    и сертификацией судей и тренеров. 
    Оперативный расчет рейтинга спортсменов необходимый для
    определения места спортсмена в турнирных сетках следующих
    соревнований является актуальным для всех видов спорта, а особенно там
    где соревнования проводятся по олимпийской системе. Актуальным
    моментом является организация и планирование соревнований, обучение
    и сертификацией судей и тренеров. 
</p>
